<!DOCTYPE html>
<html>
    <body>
        <h2>Iris Predictor - 25MCD005  - SOHAM !!</h2>
        <form action = "/predict" method = "POST">
            PL : <input type = "number" name="petal_length" step="0.1"><br>
            PW : <input type = "number" name="petal_width" step="0.1"><br>
            SL : <input type = "number" name="sepal_length" step="0.1"><br>
            SW : <input type = "number" name="sepal_width" step="0.1"><br>
            <button type="submit">Predict</button>
        </form>
    </body>
</html>